.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2a37;
  width: 100vw;
  /* height: 100vh; */
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 27%,
      rgba(255, 255, 255, 0.2) 29%,
      rgba(255, 255, 255, 0.2) 48%,
      rgba(255, 255, 255, 0) 54%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.2) 73%,
      rgba(255, 255, 255, 0.2) 90%,
      rgba(255, 255, 255, 0) 98%
    ),
    #dcdada;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 40vw;
  height: 20vh;
  margin: 1rem;
  padding: 0.5rem;
  color: #1f2a37;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1.5px solid transparent;
  border-image: linear-gradient(
      to bottom,
      #f2f2f2 0%,
      #818181 41%,
      #ffffff 100%
    )
    1;
  box-shadow: 0 1006px 281px rgba(0, 0, 0, 0), 0 644px 258px rgba(0, 0, 0, 0.01),
    0 362px 218px rgba(0, 0, 0, 0.05), 0 160px 160px rgba(0, 0, 0, 0.09),
    0 160px 160px rgba(0, 0, 0, 0.09), 0 40px 88px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(255, 255, 255, 0.3);
}

.task:hover {
  box-shadow: 0 1006px 281px rgba(0, 0, 0, 0), 0 644px 258px rgba(0, 0, 0, 0.01),
    0 362px 218px rgba(0, 0, 0, 0.03), 0 160px 160px rgba(0, 0, 0, 0.05),
    0 160px 160px rgba(0, 0, 0, 0.05), 0 40px 88px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(255, 255, 255, 0.9);
  transition: box-shadow 0.25s ease-in-out;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .task {
    font-size: 1rem;
    width: 60vw;
    height: 10vh;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
